body {
	margin: 0;
	overflow: hidden;
	cursor: default;
}

/* This one is recommended by some sites */
header {
	border: 1px black solid;
}

.js-dtop {
	position: fixed;
	/*background: url('desktop-background.jpg') no-repeat center center fixed;*/
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.js-dtop-taskbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: 9999;
	align-content: center;
	background-color: gray;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.js-dtop-taskbar-icon-container-top > *,
.js-dtop-taskbar-icon-container-bot > * {
	margin-left: 10px;
	margin-right: 10px;
}

.js-dtop-taskbar-icon-container-left > *,
.js-dtop-taskbar-icon-container-right > * {
	margin-top: 10px;
	margin-bottom: 10px;
}

.js-dtop-taskbar-icon-container-top > *:hover,
.js-dtop-taskbar-icon-container-bot > *:hover {
	margin-left: 20px;
	margin-right: 20px;
}

.js-dtop-taskbar-icon-container-left > *:hover,
.js-dtop-taskbar-icon-container-right > *:hover {
	margin-top: 20px;
	margin-bottom: 20px;
}

.js-dtop-icon-list {
	list-style-type: none;
	position: absolute;
	margin: 0;
	padding: 30px 10px 10px;
	left: 0;
	top: 0;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
}
