:root {
	--icon-animation-duration: 300ms;
}

js-dtop-taskbar-icon {
	display: inline-block;
	position: relative;
	transition: margin-left var(--icon-animation-duration), margin-right var(--icon-animation-duration); /* This margin data is in 'desktop.css' */
}

js-dtop-taskbar-icon::after {
	content: attr(data-wincount);
	/*display: inline-block;*/
	position: absolute;
	background-color: red;
	top: 0;
	right: 0;
	padding: 2px 5px;
	pointer-events: none;
	border: 2px ridge black;
	border-radius: 50%;
	font-weight: bold;
	color: lightgrey;
	transition: transform var(--icon-animation-duration);
}

/*js-dtop-taskbar-icon:hover {*/
/*	transform: scale(1.5);*/
/*}*/

js-dtop-taskbar-icon:hover::after {
	transform: scale(1.5);
}

.js-dtop-taskbar-icon-after-hidden::after {
	/*display: none;*/
	visibility: hidden;
}

.js-dtop-icon {
	background-size: contain;
	display: inline-block;
	transition: transform var(--icon-animation-duration);
	cursor: pointer;
}

.js-dtop-icon:hover {
	transform: scale(1.5);
}

.js-dtop-taskbar-icon-top::after,
.js-dtop-taskbar-icon-top > .js-dtop-icon {
	transform-origin: top;
}

.js-dtop-taskbar-icon-right::after,
.js-dtop-taskbar-icon-right > .js-dtop-icon {
	transform-origin: right;
}

.js-dtop-taskbar-icon-bot::after,
.js-dtop-taskbar-icon-bot > .js-dtop-icon {
	transform-origin: bottom;
}

.js-dtop-taskbar-icon-left::after,
.js-dtop-taskbar-icon-left > .js-dtop-icon {
	transform-origin: left;
}

.js-dtop-icon-list-icon-frame {
	width: 80px;
	height: 90px;
	text-align: center;
	display: table;
	padding: 3px;
	margin: 0;
	cursor: pointer;
}

.js-dtop-icon-list-icon-frame:hover {
	border: 1px dotted;
	padding: 2px;
}

.js-dtop-icon-list-icon-frame:hover .js-dtop-icon {
	/*filter: saturate(50);*/
	/*filter: grayscale(0%);*/
	transform: scale(1.2);
	margin-left: 20px;
	margin-right: 20px;
}

.js-dtop-taskbar-drawer-menu {
	position: absolute;
	border-radius: 5px;
	background-color: gray;
	box-shadow: 3px 3px 15px grey;
	overflow-y: auto;
	padding: 3px;
	width: 200px;
	max-height: 50vh;
	opacity: 0;
	visibility: hidden;
	/*display: none;*/
	transition: opacity var(--icon-animation-duration);
}

.js-dtop-taskbar-icon-top > .js-dtop-taskbar-drawer-menu {
	top: 105%;
	left: -10px;
}

.js-dtop-taskbar-icon-right > .js-dtop-taskbar-drawer-menu {
	top: -10px;
	right: 105%;
}

.js-dtop-taskbar-icon-bot > .js-dtop-taskbar-drawer-menu {
	bottom: 105%;
	left: -10px;
}

.js-dtop-taskbar-icon-left > .js-dtop-taskbar-drawer-menu {
	top: -10px;
	left: 105%;
}

.js-dtop-taskbar-drawer-menu-vis {
	opacity: 1;
	visibility: visible;
	/*display: unset;*/
}
