:root {
	--window-resize-duration: 20ms;
	--window-minimize-duration: 200ms;
	--window-shadow-offset: 3px;
	--window-shadow-blur: 15px;
	--window-active-shadow-color: dimgrey;
	--window-not-active-shadow-color: gray;
}

js-dtop-window {
	position: absolute;
	display: flex;
	flex-direction: column;
	border-style: double;
	background-color: aliceblue;
	box-shadow: var(--window-shadow-offset) var(--window-shadow-offset) var(--window-shadow-blur) var(--window-active-shadow-color);
	box-sizing: border-box;
	-webkit-clip-path: inset(calc(-1 * var(--window-shadow-blur)));
	clip-path: inset(calc(-1 * var(--window-shadow-blur)));
	transition: -webkit-clip-path var(--window-minimize-duration), clip-path var(--window-minimize-duration), left var(--window-resize-duration), top var(--window-resize-duration), width var(--window-resize-duration), height var(--window-resize-duration);
}

.js-dtop-win-inactive {
	/*filter: blur(2px);*/
	filter: grayscale(100%);
	box-shadow: var(--window-shadow-offset) var(--window-shadow-offset) var(--window-shadow-blur) var(--window-not-active-shadow-color);
}

.js-dtop-win-transp {
	filter: grayscale(100%);
	opacity: 0.8;
}

.js-dtop-win-disabled {
	filter: grayscale(100%);
	box-shadow: var(--window-shadow-offset) var(--window-shadow-offset) var(--window-shadow-blur) var(--window-not-active-shadow-color);
	pointer-events: none;
}

.js-dtop-win-minim {
	-webkit-clip-path: inset(0 0 100% 0);
	clip-path: inset(0 0 100% 0);
}

.js-dtop-win-close {
	filter: invert(20%);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
}

.js-dtop-win-icon {
	float: left;
	box-sizing: border-box;
	border-style: ridge;
	width: 1.6em;
	height: 90%;
	margin-top: 1px;
	margin-left: 1px;
}

.js-dtop-win-titlebar {
	box-sizing: border-box;
	background-color: burlywood;
	line-height: 2em;
}

.js-dtop-win-titlebar.js-dtop-win-moveresize {
	cursor: move;
}

.js-dtop-win-title {
	padding-left: 2em;
	pointer-events: none;
}

.js-dtop-win-minmaxclose {
	position: absolute;
	top: 2px;
	right: 1px;
	cursor: default;
}

.js-dtop-win-close-but, .js-dtop-win-max-but, .js-dtop-win-min-but {
	color: gray;
	font-family: Arial, sans-serif;
	font-size: 1.6em;
	text-decoration: none;
	line-height: 0;
	padding-left: 0.2em;
	padding-right: 0.2em;
	cursor: pointer;
}

.js-dtop-win-close-but:hover, .js-dtop-win-max-but:hover, .js-dtop-win-min-but:hover {
	color: red;
}

.js-dtop-win-content {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.js-dtop-win-topedge {
	position: absolute;
	top: -5px;
	right: 0;
	left: 0;
	height: 10px;
}

.js-dtop-win-topedge.js-dtop-win-moveresize {
	cursor: ns-resize;
}

.js-dtop-win-rightedge {
	position: absolute;
	top: 0;
	right: -5px;
	bottom: 0;
	width: 10px;
}

.js-dtop-win-rightedge.js-dtop-win-moveresize {
	cursor: ew-resize;
}

.js-dtop-win-botedge {
	position: absolute;
	right: 0;
	bottom: -5px;
	left: 0;
	height: 10px;
}

.js-dtop-win-botedge.js-dtop-win-moveresize {
	cursor: ns-resize;
}

.js-dtop-win-leftedge {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -5px;
	width: 10px;
}

.js-dtop-win-leftedge.js-dtop-win-moveresize {
	cursor: ew-resize;
}

.js-dtop-win-topleftcorner {
	position: absolute;
	top: -5px;
	left: -5px;
	width: 10px;
	height: 10px;
}

.js-dtop-win-topleftcorner.js-dtop-win-moveresize {
	cursor: nwse-resize;
}

.js-dtop-win-toprightcorner {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 10px;
	height: 10px;
}

.js-dtop-win-toprightcorner.js-dtop-win-moveresize {
	cursor: nesw-resize;
}

.js-dtop-win-botrightcorner {
	position: absolute;
	right: -5px;
	bottom: -5px;
	width: 10px;
	height: 10px;
}

.js-dtop-win-botrightcorner.js-dtop-win-moveresize {
	cursor: nwse-resize;
}

.js-dtop-win-botleftcorner {
	position: absolute;
	bottom: -5px;
	left: -5px;
	width: 10px;
	height: 10px;
}

.js-dtop-win-botleftcorner.js-dtop-win-moveresize {
	cursor: nesw-resize;
}

.js-dtop-win-taskbar-drawer-but {
	display: block;
	color: white;
	padding: 4px;
	font-size: 0.8em;
	border-radius: 3px;
	border: 3px outset;
	text-decoration: none;
	margin: 3px 0;
}

.js-dtop-win-taskbar-drawer-but:first-child {
	margin-top: 0;
}

.js-dtop-win-taskbar-drawer-but:hover {
	background-color: dimgray;
}

.js-dtop-win-taskbar-drawer-but:last-child {
	margin-bottom: 0;
}

.js-dtop-win-taskbar-drawer-but-active {
	border-style: inset;
}

.js-dtop-win-taskbar-drawer-but-active:hover {
	background-color: lightslategrey;
}
